@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3>測試 Datepicker</h3>
    <input type="text" id="datepicker_01" />
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#datepicker_01').datepicker();
        });
    </script>    
}